<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ProposalMapper" >
  <resultMap id="BaseResultMap" type="com.activity.bean.Proposal" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hdId" property="hdid" jdbcType="INTEGER" />
    <result column="dataId" property="dataid" jdbcType="INTEGER" />
    <result column="proposal" property="proposal" jdbcType="VARCHAR" />
    <result column="setDate" property="setdate" jdbcType="DATE" />
    <result column="pId" property="pid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hdId, dataId, proposal, setDate, pId
  </sql>
  <sql id="Condition">
  	<where>
  		<if test="hdId != null">
  			hdId = #{hdId}
  		</if>
  		<if test="dataId != null">
  			AND dataId = #{dataId}
  		</if>
  		<if test="setDate != null and setDate != ''">
  			AND setDate = #{setDate}
  		</if>
  		<if test="pId != null">
  			AND pId = #{pid}
  		</if>
  		<if test="pId == null">
  			AND pId = 0
  		</if>
  	</where>
  </sql>
  <select id="selectByParam" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from proposal
    <include refid="Condition"></include>
    <if test="pageNum != null and pageSize != null">
    	LIMIT #{pageNum}, #{pageSize}
    </if>
  </select>
  <select id="countByParam" resultType="int" parameterType="map" >
    select COUNT(1)
    from proposal
    <include refid="Condition"></include>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from proposal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByParam" parameterType="map" >
    delete from proposal
    <include refid="Condition"></include>
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from proposal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.activity.bean.Proposal"  useGeneratedKeys="true" keyProperty="id">
    insert into proposal (id, hdId, dataId, 
      proposal, setDate, pId
      )
    values (#{id,jdbcType=INTEGER}, #{hdid,jdbcType=INTEGER}, #{dataid,jdbcType=INTEGER}, 
      #{proposal,jdbcType=VARCHAR}, #{setdate,jdbcType=DATE}, #{pid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.activity.bean.Proposal"  useGeneratedKeys="true" keyProperty="id">
    insert into proposal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hdid != null" >
        hdId,
      </if>
      <if test="dataid != null" >
        dataId,
      </if>
      <if test="proposal != null" >
        proposal,
      </if>
      <if test="setdate != null" >
        setDate,
      </if>
      <if test="pid != null" >
        pId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hdid != null" >
        #{hdid,jdbcType=INTEGER},
      </if>
      <if test="dataid != null" >
        #{dataid,jdbcType=INTEGER},
      </if>
      <if test="proposal != null" >
        #{proposal,jdbcType=VARCHAR},
      </if>
      <if test="setdate != null" >
        #{setdate,jdbcType=DATE},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.activity.bean.Proposal" >
    update proposal
    <set >
      <if test="hdid != null" >
        hdId = #{hdid,jdbcType=INTEGER},
      </if>
      <if test="dataid != null" >
        dataId = #{dataid,jdbcType=INTEGER},
      </if>
      <if test="proposal != null" >
        proposal = #{proposal,jdbcType=VARCHAR},
      </if>
      <if test="setdate != null" >
        setDate = #{setdate,jdbcType=DATE},
      </if>
      <if test="pid != null" >
        pId = #{pid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.activity.bean.Proposal" >
    update proposal
    set hdId = #{hdid,jdbcType=INTEGER},
      dataId = #{dataid,jdbcType=INTEGER},
      proposal = #{proposal,jdbcType=VARCHAR},
      setDate = #{setdate,jdbcType=DATE},
      pId = #{pid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>